* {
  margin: 0;
  background-color: #fff;
}
body {
  margin: 0 auto;
  width: 1170px;
  font-family: Verdana, serif;
}
header {
  ul {
    float: right;
  }
  li {
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 0 8px 25px;
  }
  a {
    color: #434343;
    text-decoration: none;
  }
}
nav {
  .upperNavItem {
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 35px;
    font-size: 18px;
    width: 116px;
    margin-left: 5px;
    a {
      background-color: transparent;
      color: #fff;
      font-size: 16px;
    }
    img {
      margin-left: 10px;
      position: absolute;

    }
  }
  .large {
    width: 142px;
    a {
      margin-left: -20px;
    }
  }
  .gift {
    img {
      margin-top: -6px;
    }
  }
  .upperNavItems {
    float: right;
    height: 100%;
    position: relative;
    top: -89px;
  }
  .upperNav {
    overflow: hidden;
    height: 90px;
    background-color: #f6f6f6;
    width: 100%;
  }
  .logo {
    height: 100%;
    width: 189px;
    overflow: hidden;
    img {
      position: absolute;
      margin-top: -20px;
      margin-left: 10px;
      transform: scale(.8);
    }
  }
  .mainNav {
    margin: 15px 0;
    height: 71px;
    display: block;
    ul {
      float: left;
      list-style: none;
      padding-left: 5%;
      height: 100%;
      max-width: 100%;
      a {
        color: #fff;
        font-size: 16px;
        background-color: #05aecc;
      }
      a:before {
        content: '';
        display: block;
        height: 33.3%;
        background-color: transparent;
        width: 100%;
      }
      li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0 23px;
        height: 100%;
        background-color: #05aecc;
        cursor: pointer;
        #last-element {
          left: -90%;
        }
        ul {
          z-index: 1;
          position: absolute;
          display: none;
          box-shadow: 0 -10px 20px -10px #ccc;
          top: 100%;
          min-width: 265px;
          margin-top: 6px;
          left: 0;
          padding: 0;
          :before {
            content: '';
            position: absolute;
            top: -6px;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: transparent;
          }
          li {
            width: 265px;
            background-color: #fff;
            display: block;
          }
          .dropdownMenu-container {
            padding: 0 22px;
            z-index: 100;
            h6:last-child {
              padding: 10px 0;
            }
          }
          .dropdownMenu-item {
            cursor: default;
            padding: 18px 0px;
            width: 240px;
            display: flex;
          }
          .dropdownMenu-text {
            max-width: 139px;
            padding-left: 13px;
            font-size: 10px;
            top: 0;
            height: 78px;
            overflow: hidden;
            }
            .button {
              border: none;
              color: white;
              padding: 5px 23px;
              text-decoration: none;
              display: inline-block;
              background-color: #05aecc;
              font-size: 10px;
              text-transform: capitalize;
              margin-top: 9px;
            }
          }
          h6 {
            font-weight: 550;
            color: #f0626e;
            font-size: 13px;
            padding-bottom: 6px;
            text-transform: capitalize;
          }
        }
      }
    
    li:hover {
      background-color: #fff;
      a {
        color: #f0626e;
        background-color: #fff;
      }
      >ul {
        display: block;
      }
    }
    .dropdownMenu-item::after {
        content: '';
        width: 85%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 100px;
        position: absolute;
    }
  }
}
.mainColorRed {
  background-color: #f0626e;
}
.mainColorBlue {
  background-color: #05aecc;
}
slider {
  height: 570px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  .mens {
    height: 570px;
    width: 670px;
    background-image: url("../assets/mens.png");
    background-position: center;
    .caption-container {
      color: #ef5966;
      text-align: center;
      width: 350px;
      height: 150px;
      position: absolute;
      margin-top: 410px;
      text-transform: uppercase;
      background: transparent;
      .caption1 {
        background: rgba(26, 20, 58, 0.7);
        width: 100%;
        height: 100px;
        h1 {
          font-family: 'Times New Roman', Times, serif;
          font-size: 45px;
          letter-spacing: 1px;
        }
        h1,p {
          background-color: transparent;
        }
        p {
          color: #fff;
          
          font-size: 12px;
        }
        .inner-caption-container {
          text-align: left;
          overflow: hidden;
          width: 90%;
          padding: 5px 0;
          background: transparent;
          margin-left: 6%;
        }
      }
      .caption2 {
        margin-top: 2px;
        z-index: 1;
        height: 45px;
        background: rgba(240, 98, 110, .8);
        p {
          font-family: 'Times New Roman', Times, serif;
          font-weight: 600;
          padding-top: 12px;
          color: #fff;
          background: transparent;
        }
      }
    }
  }
  .womens {
    background-image: url("../assets/womens.png");
    width: 493px;
    height: 320px;
    margin-left: 7px;
    .caption-container {
      color: #ef5966;
      width: 270px;
      height: 85px;
      background: rgba(26, 20, 58, 0.7);
      position: absolute;
      margin-top: 230px;
      text-align: center;
      text-transform: uppercase;
      .caption{
        height: 100%;
        font-size: 12px;
        background: transparent;
        p {
          color: #fff;
          background: transparent;
          font-size: 11px;
        }
        h1 {
          padding: 10px 0 3px 0;
          font-size: 27px;
          letter-spacing: 1px;
          font-family: 'Times New Roman', Times, serif;
          background: transparent;
        }
      }
    }
    .inner-caption-container {
      text-align: left;
      background: transparent;
      width: 90%;
      margin-left: 6%;
    }
    .color-overlay {
      background-color: #f2eace;
      height: 320px;
      width: 493px;
      opacity: 0.2;
    }
  }
  .kids {
    background-image: url("../assets/kids.png");
    background-position: center;
    height: 243px;
    width: 493px;
    margin-left: 0;
    margin-top: 327px;
    position: relative;
    .color-overlay {
      background-color: #5c5068;
      filter: brightness(.7);
      height: 243px;
      width: 493px;
      opacity: 0.75;
    }
    .caption-container {
      height: 57px;
      width: 293px;
      z-index: 1;
      background: #323232;
      position: absolute;
      top: -27%;
      left: 200px;
      .price {
        position: absolute;
        left: 80%;
        top: 30%;
        color: #fff;
        background: transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        .dolar {
          background: transparent;
          font-family: 'Times New Roman', Times, serif;
          position: absolute;
          font-size: 19px;
          left: -45%;
          top: 12%;
        }
        .cents {
          background: transparent;
          position: absolute;
          font-size: 14px;
        }
      }
      .title {
        display: inline-block;
        width: 105px;
        height: 100%;
        margin-left: -29%;
        p {
          position: absolute;
          color: #fff;
          background: transparent;
          text-transform: none;
          font-size: 13px;
          top: 36%;
          left: 6%;
        }
      }
      .wishlist {
        display: inline-block;
        width: 51px;
        height: 100%;
        margin-left: -6px;
        background-color: #00a1be;
        a {
          position: absolute;
          left: 40%;
          top: 24%;
          background: transparent;
          text-transform: none;
          font-size: 13px;
        }
      }
      .cart {
        display: inline-block;
        width: 54px;
        height: 100%;
        margin-left: -6px;
        a {
          position: absolute;
          left: 58%;
          top: 32%;
          background: transparent;
          text-transform: none;
          font-size: 13px;
        }
      }
    }
  }
  .column {
    float: left;
  }
}
.color-overlay {
  position: absolute;
  height: 570px;
  width: 670px;
  background-color: #f2eace;
  opacity: 0.2;
}
.search {
  float: left;
  width: 670px;
  height: 170px;
  margin-top: 4px;
  input {
    margin-top: 7%;
    margin-left: 7%;
    height: 74px;
    border: none;
    width: 485px;
    font-size: 19px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  input:focus {
    outline: none;
  }
  label {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 60px;
  }
  p {
    background: transparent;
    position: absolute;
    margin-top: -3.3%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    opacity: 0.7;
  }
}
.hidden {
    display: none;
}
.greyLabel {
  opacity: 0.5;
}
.jewelry {
  width: 493px;
  background-image: url("../assets/jewelry.png");
  background-position: center;
  height: 510px;
  float: right;
  margin-top: 4px;
  .color-overlay {
    background-color: #5c5068;
    height: 510px;
    width: 493px;
    opacity: .4;
  }
  .caption-container {
    margin-top: 112px;
    margin-left: 404px;
    position: absolute;
    height: 398px;
    width: 89px;
    background: rgba(26, 20, 58, 0.6);
    overflow: visible;
    h1 {
      position: absolute;
      text-transform: uppercase;
      font-family: 'Times New Roman', Times, serif;
      color: #fff;
      background: transparent;
      transform: rotate(-90deg);
      margin-top: 240px;
      margin-left: -55px;
      font-size: 45px;
      font-weight: 500;
    }
    .caption {
      position: relative;
      color: white;
      z-index: 1;
    }
    .jewelrySquare {
      top: 19px;
      position: absolute;
      width: 100px;
      height: 90px;
      right: 0;
      .circle {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 18px;
      }
    }
  }
  #SquareBehind {
    position: absolute;
    background-color: transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #c6535d;
    border-right: 6px solid #c6535d;
    margin-left: 392px;
    margin-top: 221px;
    z-index: 1;
  }
}
#chevron-arrow-right {
  display: inline-block;
  border-right: 2px solid #f0626e;
  border-bottom: 2px solid #f0626e;
  width: 16px; height: 16px;
  transform: rotate(-45deg);
  margin-left: 15px;
  margin-top: 20px;
}
#chevron-arrow-left {
  display: inline-block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 16px; height: 16px;
  transform: rotate(-225deg);
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  background: transparent;
}
.crafts {
  width: 670px;
  height: 332px;
  background-image: url("../assets/crafts.png");
  background-position: 50% 65%;
  float: left;
  margin-top: 8px;
  position: relative;
  .color-overlay {
    background-color: #f2eace;
    height: 332px;
    width: 670px;
    opacity: .13;
  }
  .caption-container {
    margin-top: 276px;
    margin-left: 260px;
    height: 56px;
    width: 410px;
    position: absolute;
    background: transparent;
    z-index: 1;
    .title {
      display: inline-block;
      background: rgba(26, 20, 58, 0.7);
      width: 204px;
      height: 100%;
      p {
        position: absolute;
        color: #fff;
        background: transparent;
        text-transform: none;
        font-size: 13px;
        top: 36%;
        left: 6%;
      }
      h2 {
        position: absolute;
        background: transparent;
        color: white;
        font-weight: 400;
        font-size: 26px;
        margin-left: 12.5%;
        margin-top: 3%;
        text-transform: uppercase;
      }
    }
    .wishlist {
      display: inline-block;
      width: 51px;
      height: 100%;
      margin-left: -6px;
      background-color: #00a1be;
      a {
        position: absolute;
        left: 52.5%;
        top: 24%;
        background: transparent;
        text-transform: none;
        font-size: 13px;
      }
    }
    .cart {
      display: inline-block;
      width: 54px;
      height: 100%;
      margin-left: -6px;
      a {
        position: absolute;
        left: 65.5%;
        top: 32%;
        background: transparent;
        text-transform: none;
        font-size: 13px;
      }
    }
    .price-container {
      margin-left: -6px;
      display: inline-block;
      width: 102px;
      height: 100%;
      background: #434343;
      p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        background: transparent;
        color: white;
        position: absolute;
        margin-left: 8%;
        margin-top: 4%;
        .dolar {
          background: transparent;
          font-family: 'Times New Roman', Times, serif;
          position: absolute;
          font-size: 19px;
          left: -45%;
          top: 12%;
        }
        .cents {
          background: transparent;
          position: absolute;
          font-size: 14px;
        }
      }
    }
  }
}
.newProducts {
  clear: both;
  position: relative;
  top: 70px;
  h4 {
    color: #00a1be;
    font-weight: 200;
    font-size: 24px;
    float: left;
    margin-left: 30px;
  }
  .container {
    display: grid;
    clear: both;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    position: relative;
    height: 200px;
    top: -40px;
    .one {
      background-image: url("../assets/new1.png");
      background-position: 10% 90%;
      filter: brightness(1.2);
      .color-overlay {
        height: 100%;
        position: relative;
        width: 100%;
        background-color: #363a5a;
        opacity: .3;
      }
    }
    .two {
      background-image: url("../assets/new2.png");
      background-position: center;
      .color-overlay {
        height: 100%;
        position: relative;
        width: 100%;
        background-color: #1a143a;
        filter: brightness(1.1);
        opacity: .8;
      }
      .caption-container {
        height: 57px;
        width: 293px;
        z-index: 1;
        background: #323232;
        position: absolute;
        top: 35%;
        left: 37.5%;
        .price {
          position: absolute;
          left: 82%;
          top: 30%;
          color: #fff;
          background: transparent;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 24px;
          .dolar {
            background: transparent;
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            font-size: 19px;
            left: -13px;
            top: 12%;
          }
          .cents {
            background: transparent;
            position: absolute;
            font-size: 14px;
          }
        }
        .title {
          display: inline-block;
          width: 105px;
          height: 100%;
          margin-left: 0;
          p {
            position: absolute;
            color: #fff;
            background: transparent;
            text-transform: none;
            font-size: 13px;
            top: 36%;
            left: 6%;
          }
        }
        .wishlist {
          display: inline-block;
          width: 51px;
          height: 100%;
          margin-left: -8px;
          background-color: #00a1be;
          a {
            position: absolute;
            left: 38%;
            top: 24%;
            background: transparent;
            text-transform: none;
            font-size: 13px;
          }
        }
        .cart {
          display: inline-block;
          width: 54px;
          height: 100%;
          margin-left: -8.5px;
          a {
            position: absolute;
            left: 56%;
            top: 32%;
            background: transparent;
            text-transform: none;
            font-size: 13px;
          }
        }
      }
    }
    .three {
      background-image: url("../assets/new3.png");
      background-position: 87% 85%;
      .color-overlay {
        height: 100%;
        position: relative;
        width: 100%;
        background-color: #363a5a;
        opacity: .2;
      }
    }
  }
}
.greyLine {
  height: 1px;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  position: relative;
  float: left;
  margin-top: 10px;
}
.arrow-boxes {
  float: right;
  position: relative;
  top: -80px;
  .arrow-box {
    display: inline-block;
    width: 70px;
    height: 79px;
    background-color: #3c3c3c;
    cursor: pointer;
    #chevron-arrow-right {
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      background: transparent;
      position: absolute;
      margin-left: 22px;
      margin-top: 30px;
    }
  }
  .left {
    margin-right: -5px;
  }
  :hover {
    background-color: #00a1be;
  }
}
.featuredProducts {
    position: relative;
    top: 100px;
    h4 {
      color: #00a1be;
      font-weight: 200;
      font-size: 24px;
      float: left;
      margin-left: 30px;
    }
    .arrow-box:hover {
      background-color: #f0626e;
    }
    .greyLine {
      height: .5px;
      margin-top: 15px;
    }
    .container {
      clear: both;
      display: grid;
      grid-template-columns: auto auto auto auto;
      height: 400px;
      position: relative;
      top: -40px;
      grid-gap: 30px;
      .item {
        background-color: grey;
        .image {
          width: 100%;
          height: 293px;
          background-position: 50% 0%;
          .extra-label {
            position: absolute;
            color: #fff;
            width: 80px;
            height: 35px;
            margin-top: 15px;
            p {
              margin-left: 12%;
              margin-top: 11%;
              font-size: 13px;
            }
          }
        }
        .one {
          background-image: url("../assets/featured1.png");
        }
        .two {
          background-image: url("../assets/featured2.png");
        }
        .three {
          background-image: url("../assets/featured3.png");
          .extra-label p {
            margin-left: 33%;
          }
        }
        .four {
          background-image: url("../assets/featured4.png");
        }
        .item-description {
          box-sizing: border-box;
          border: 1px groove rgba(0, 0, 0, .2);
          border-top: none;
          border-bottom: none;
          width: 100%;
          height: 57px;
          .title {
            position: relative;
            margin-left: 5%;
            padding-top: 5%;
            letter-spacing: 2px;
          }
          .description {
            font-size: .8rem;
            margin-left: 5%;
            color: #f0626e;
          }
          .three {
            color: #05aecc;
          }
        }
        .options {
          height: 53px;
        }
        .arrows, .gift, .cart {
          display: inline-block;
          height: 100%;
          width: 53px;
          border: 1px groove rgba(0, 0, 0, .2);
        }
        .gift, .cart, .price {
          margin-left: -6px;
        }
        .price {
          display: inline-block;
          position: absolute;
          height: 53px;
          border: 1px groove rgba(0, 0, 0, .2);
          width: 113px;
          .price {
            position: relative;
            border: none;
            left: 40%;
            top: 24%;
            color: #fff;
            background: transparent;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 24px;
            .dolar {
              background: transparent;
              font-family: 'Times New Roman', Times, serif;
              position: absolute;
              font-size: 19px;
              left: -13px;
              top: 7%;
            }
            .cents {
              background: transparent;
              position: absolute;
              font-size: 14px;
            }
          }
        }
        .gift, .cart, .price {
          border-left: none;
        }
        a {
          margin-left: 1.5%;
          position: absolute;
          margin-top: 1.6%;
        }
      }
    }
}
.whoWeAre {
  position: relative;
  top: 100px;
  h4 {
    color: #00a1be;
    font-weight: 200;
    font-size: 24px;
    float: left;
    margin-left: 30px;
  }
  p {
    position: relative;
    top: 40px;
    clear: both;
    left: 10px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
  }
  .container {
    position: relative;
    display: grid;
    margin-top: 7%;
    grid-template-columns: auto auto auto;
    grid-gap: 32px;
    :first-child {
      background-color: #434343;
    }
    .item {
      height: 235px;
      color: #fff;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      .caption {
        color: #fff;
        position: absolute;
        background: transparent;
        left: 18%;
        top: 35%;
        max-width: 130px;
      }
    }
    .two {
      pointer-events: none;
      .caption {
        left: 53%;
      }
    }
    .three {
      .caption {
        left: 86%;
        top: 41%;
      }
    }
    .two:after {
      content: "Register Now";
      position: absolute;
      font-size: 27px;
      font-family: 'Lato', sans-serif;
      text-align: center;
      top: 114%;
      background-color: #05aecc;
      left: 24.5%;
      border-bottom: 16px solid #05aecc;
      border-top: 16px solid #05aecc;
      border-left: 238px solid #05aecc;
      border-right: 238px solid #05aecc;
      pointer-events: auto;
      cursor: pointer;
      transition: all .2s ease-in-out;
    }
    .two:hover:after {
        background-color: #f0626e;
        border-color: #f0626e;
    }
    img {
      position: absolute;
    }
  }
  .greyLine.bottom {
    top: 120px;
  }
}
.footer {
  .container {
    display: grid;
    clear: both;
    grid-template-columns: auto auto auto 35%;
    position: relative;
    margin-top: 180px;
    min-height: 400px;
    .item {
      background-color: transparent;
      font-size: 25px;
      text-transform: uppercase;
      color: #000;
      h4 {
        font-size: 25px;
        background: #fff;
        margin: 0;
        color: #000;
      }
      ul {
        position: relative;
        padding: 0;
        margin-top: 10%;
        list-style: none;
        background: transparent;
        font-size: 16px;
        text-transform: none;
        li {
          padding-top: 10px;
          opacity: 0.8;
          background: transparent;
        }
        a {
          text-decoration: none;
          background: transparent;
          color: #000;
        }
      }
      .subscribe {
        margin-top: 10%;
        font-size: 14px;
        .email {
          background: transparent;
          text-align: center;
          padding: 26px 0;
          border: 1px groove rgba(0, 0, 0, 0.2);
        }
        .caption {
          position: relative;
          background-color: #05aecc;
          left: 0;
          top: 0;
          width: 100%;
          max-width: none;
          text-align: center;
          padding: 16px 0;
          overflow: hidden;
          a {
            background: transparent;
            text-decoration: none;
            color: #fff;
            padding: 16px 36.2%;
          }
        }
      }
    }
    .social {
      margin-top: 5%;
      .social-items {
        display: inline-block;
        margin-top: 3%;
        width: 100%;
      .item {
        height: 55px;
        width: 55px;
        background-color: #ccc;
        display: inline-block;
        margin-right: 1.5%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .first {
        background-image: url("../assets/rss.png");
        background-color: #f8bc2e;
      }
      .second {
        background-image: url("../assets/facebook.png");
        background-color: #39599f;
      }
      .third {
        background-image: url("../assets/twitter.png");
        background-color: #45b0e3;
      }
      .fourth {
        background-image: url("../assets/flickr.png");
        background-color: #fff;
        border: 1px groove rgba(0, 0, 0, 0.2);
      }
      .fifth {
        background-image: url("../assets/google.png");
        background-color: #1872bf;
      }
      a {
        background-color: transparent;
        text-decoration: none;
      }
      }
    }
  }
  .greyLine {
    margin-top: -2%;
  }
  .two {
    margin-top: 4%;
  }
  p {
    top: 15px;
    left: 0;
    font-size: 14px;
    margin: 0;
    display: inline;
  }
  .p-two {
    margin-left: 63%;
    padding-bottom: 300px;
  }
}
